body {
  margin: 0;
  font-family: "Otomanopee One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

a {
  color: #fff;
}

a:hover {
  color: #ffa726;
  text-decoration: none;
}

.bg-accent {
  background-color: #ffa726;
}

.header-font {
  color: white;
}
